<!-- http://dev.cs.ovgu.de/java/logback/manual/layouts.html -->
<configuration>
    <!-- Define um appender para saída no console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Define o padrão de formatação dos logs -->
            <pattern>%d{HH:mm:ss.SSS} %-5level [%15.15t] %cyan(%-30.30logger{30}) : %m%n</pattern>
        </encoder>
    </appender>
    <!-- Configura o nível de log para INFO e associa o appender -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>